*{
 margin: 5px;
 padding: 10px; /* to make the first block away from the browser */
}
#wrapper{
 width: 1000px; /* this is the big background */
 background-color: silver;
 margin: 0px auto;

}
#header{
 height: 150px;
 background-color: green;

}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
}
#main_content{
 height: 400px;
 width: 735px;
 background-color: red;
 display:inline-block;
 vertical-align: top;

}
.subcontents{
 height: 180px;
 width: 200px;
 background-color: yellow;
 display:inline-block;
}
#advertisement{
 height: 110px;
 width: 670px;
 background-color: purple;
 margin-top:15px;
}